<ion-view title="Alarms" hide-nav-bar="true" id="page3" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <a ui-sref="homePage" id="alarms-button4" class=" button button-stable  button-block icon ion-ios-arrow-down "></a>
        <ion-list id="alarms-list2" class=" ">
            <ion-item class="item-icon-left item-icon-right  " id="alarms-list-item7" ui-sref="setting">
                <i class="icon ion-ionic"></i>08:40 AM
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="alarms-list-item8" ui-sref="setting">
                <i class="icon ion-ionic"></i>09:15 AM
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="alarms-list-item9" ui-sref="setting">
                <i class="icon ion-ionic"></i>01:40 AM
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="alarms-list-item10" ui-sref="setting">
                <i class="icon ion-ionic"></i>05:30 AM
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>