<ion-view title="Loading page" hide-nav-bar="true" id="page1" style="background-color:#E3F0F0;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="height: 100px;"></div>
        <div class="">
            <a style="display:block;" ui-sref="homePage">
                <img src="img/vF6wvdTWiD3aIJSxeiZA_Alpha Logo Final -01.svg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <div class="spacer" style="height: 100px;"></div>
    </ion-content>
</ion-view>